<div class="cart container" ng-show="cartList.items.length>0">
    <h4>Корзина</h4>
    <table class="table table-sm" cellpadding="0" cellspacing="0">
        <thead class="table-primary">
        <tr class="d-flex">
            <th class="col-5">Название</th>
            <th class="col-2">Цена</th>
            <th class="col-2">Количество</th>
            <th class="col-2">Сумма</th>
            <th class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" ng-repeat="cartItem in cartList.items" style="height: 40px">
            <td class="col-5">{{cartItem.productTitle}}</td>
            <td class="col-2">{{cartItem.price}}</td>
            <td class="col-2">
                <button class="btn btn-outline-secondary btn-sm mr-md-3" ng-click="decQuantity(cartItem.id)"> - </button>
                <label> {{cartItem.quantity}} </label>
                <button class="btn btn-outline-secondary btn-sm ml-md-3" ng-click="incQuantity(cartItem.id)"> + </button>
            </td>
            <td class="col-2">{{cartItem.sum}}</td>
            <td class="col-1">
                <button class="btn btn-link btn-sm" ng-click="deleteProductFromCart(cartItem.id)" style="margin: 0px; padding: 0px">
                    <img src="images/basket.ico" alt="delete">
                </button>
            </td>
        </tr>
        <tr class="table-info d-flex">
            <td class="col-5"><b>Итого</b></td>
            <td class="col-2"></td>
            <td class="col-2"></td>
            <td class="col-2"><b>{{cartList.totalSum}}</b></td>
            <td class="col-1"></td>
        </tr>
        </tbody>
    </table>
    <div style="display: flex; justify-content: space-between">
        <button class="btn btn-success" ng-show="cartList.items.length > 0 && isUserLoggedIn()" ng-click="goToOrderSubmit()">Оформить заказ</button>
        <button class="btn btn-danger" ng-show="cartList.items.length > 0" ng-click="clearCart()">Очистить корзину</button>
    </div>
</div>
<h5 class="container" ng-show="cartList.items.length == 0">В вашей корзине ещё ничего нет</h5>