<!doctype html>

<html ng-app="market">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController" style="min-height: 100vh; display: flex; flex-direction: column;">
    <div class="top" style="flex-grow: 1">
        <header style="min-height: 100px; display: flex; justify-content: space-between; align-items: center; background-color: cornflowerblue; text-decoration-color: white; color: white">
            <h1 style="margin-left: 25px">My Market</h1>
            <form class="form-signin" ng-show="!authorized" ng-submit="tryToAuth()" style="padding: 15px;">
                <div class="form-group row" style="margin-right: -50px; margin-bottom: -15px;">
                    <div class="col-md-5" style="padding-left: 0px;">
                        <input type="text" ng-model="user.username" id="inputUsername" class="form-control form-control-sm"
                               placeholder="Имя пользователя" style="margin-bottom: 10px;" required="">
                    </div>
                    <div class="col-md-4" style="padding-left: 0px;">
                        <input type="password" ng-model="user.password" id="inputPassword" class="form-control form-control-sm" placeholder="Пароль"
                               style="margin-bottom: 10px;" required="">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px;">
                        <button class="btn btn-sm btn-outline-light btn-block" type="submit">Войти</button>
                    </div>
                </div>
            </form>
            <div class="row align-items-center" ng-show="authorized" style="margin-right: 15px; margin-bottom: -15px;">
                <div class="col-md-auto">
                    <img src="images/user.ico" alt="user_ico">
                    <label style="margin-bottom: 0px;">{{user.username}}</label>
                </div>
                <div class="col-md-2" style="max-width: 100%;">
                    <button class="btn btn-sm btn-outline-light" ng-click="tryToLogout()">Выйти</button>
                </div>
            </div>
        </header>

        <h5 style="margin-top: 15px">Фильтр</h5>
        <form novalidate ng-submit="fillTable()">
            <div class="form-group row">
                <div class="form-group col-md-3">
                    <label for="filterTitle" class="col-form-label col-form-label-sm">Название товара</label>
                    <input class="form-control form-control-sm" type="text" ng-model="filter.title" id="filterTitle">
                </div>
                <div class="form-group col-md-3">
                    <label for="filterMinPrice" class="col-form-label col-form-label-sm">Минимальная цена</label>
                    <input class="form-control form-control-sm" type="number" min="0" ng-model="filter.min_price" id="filterMinPrice">
                </div>
                <div class="form-group col-md-3">
                    <label for="filterMaxPrice" class="col-form-label col-form-label-sm">Максимальная цена</label>
                    <input class="form-control form-control-sm" type="number" min="0" ng-model="filter.max_price" id="filterMaxPrice">
                </div>
                <div class="form-group col-md-3">
                    <label for="buttonSubmit"></label><br>
                    <button class="btn btn-primary" type="submit" id="buttonSubmit">Применить</button>
                </div>
            </div>
        </form>

        <h3>Список товаров</h3>
        <table class="table table-hover table-sm" cellpadding="0" cellspacing="0">
            <thead class="table-primary">
            <tr class="d-flex">
                <th class="col-5">Название</th>
                <th class="col-2">Цена</th>
                <th class="col-2"></th>
                <!--            <td></td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex" ng-repeat="product in productsPage.content" style="height: 40px">
                <td class="col-5">{{product.title}}</td>
                <td class="col-2">{{product.price}}</td>
                <td class="col-2">
                    <button class="btn btn-link btn-sm" ng-click="addToCart(product.id)" style="margin: 0px; padding: 0px">
                        <img src="images/cart.ico" alt="add">
                    </button>
                </td>
                <!--            <td>-->
                <!--                <button class="btn btn-danger" ng-click="deleteProductById(product.id)">Удалить товар</button>-->
                <!--            </td>-->
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li ng-class="productsPage.first ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" ng-click="fillTable(productsPage.number)">Пред.</a>
                </li>
                <li ng-class="productsPage.number == pageIndex - 1 ? 'page-item active' : 'page-item'" ng-repeat = "pageIndex in paginationArray">
                    <a class="page-link" ng-click="fillTable(pageIndex)">{{pageIndex}}</a>
                </li>
                <li ng-class="productsPage.last ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" ng-click="fillTable(productsPage.number + 2)">След.</a>
                </li>
            </ul>
        </nav>

        <div class="cart" ng-show="cartList.totalSumma>0" style="margin-top: 25px">
            <h4>Корзина</h4>
            <table class="table table-sm" cellpadding="0" cellspacing="0">
                <thead class="table-primary">
                <tr class="d-flex">
                    <th class="col-5">Название</th>
                    <th class="col-2">Цена</th>
                    <th class="col-2">Количество</th>
                    <th class="col-2">Сумма</th>
                    <th class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="d-flex" ng-repeat="orderItem in cartList.items" style="height: 40px">
                    <td class="col-5">{{orderItem.productTitle}}</td>
                    <td class="col-2">{{orderItem.price}}</td>
                    <td class="col-2">
                        <button class="btn btn-outline-secondary btn-sm mr-md-3" ng-click="decQuantity(orderItem.id)"> - </button>
                        <label> {{orderItem.quantity}} </label>
                        <button class="btn btn-outline-secondary btn-sm ml-md-3" ng-click="incQuantity(orderItem.id)"> + </button>
                    </td>
                    <td class="col-2">{{orderItem.summa}}</td>
                    <td class="col-1">
                        <button class="btn btn-link btn-sm" ng-click="deleteProductFromCart(orderItem.id)" style="margin: 0px; padding: 0px">
                            <img src="images/basket.ico" alt="delete">
                        </button>
                    </td>
                </tr>
                <tr class="table-info d-flex">
                    <td class="col-5"><b>Итого</b></td>
                    <td class="col-2"></td>
                    <td class="col-2"></td>
                    <td class="col-2"><b>{{cartList.totalSumma}}</b></td>
                    <td class="col-1"></td>
                </tr>
                </tbody>
            </table>
            <div style="display: flex; justify-content: space-between">
                <button class="btn btn-success" ng-click="createOrder()">Оформить заказ</button>
                <button class="btn btn-danger" ng-click="deleteAllProductsFromCart()">Очистить корзину</button>
            </div>

        </div>

        <!--    <br>-->
        <!--    <br>-->
        <!--    <br>-->
        <!--    <h4>Добавить новый товар</h4>-->
        <!--    <form novalidate ng-submit="submitCreateNewProduct()">-->
        <!--        <div class="form-group col-md-3">-->
        <!--            <label for="newProductTitle">Название</label>-->
        <!--            <input class="form-control" type="text" ng-model="newProduct.title" id="newProductTitle">-->
        <!--        </div>-->
        <!--        <div class="form-group col-md-3">-->
        <!--            <label for="newProductPrice">Цена</label>-->
        <!--            <input class="form-control" type="number" min="0" ng-model="newProduct.price" id="newProductPrice">-->
        <!--        </div>-->
        <!--        <div>-->
        <!--            <button class="btn btn-success" type="submit">Сохранить</button>-->
        <!--        </div>-->
        <!--    </form>-->
    </div>

    <footer style="min-height: 50px; display: flex; align-items: center; margin-top: 15px; padding: 15px; background-color: cadetblue; color: white">
        <p style="margin-bottom: 0px; opacity: 0.4;">2021 © GeekBrains</p>
    </footer>

</div>
</body>
</html>